{% extends "base.html" %}

{% block content %}

    <script>
        $(document).ready(function() {
            $("#add-symbols").click(function (){
                $('.ui.modal').modal('show');
                })
            $("#save").click(function(){
                    var symbols = $("#symbols").val();

                    var stockSymbols = symbols.split("\n")

                    for (var i=0; i < stockSymbols.length; ++i){
                        $.ajax({
                            url: "/stock",
                            type: "POST",
                            contentType: 'application/json',
                            data: JSON.stringify({"symbol": stockSymbols[i]}),
                            dataType: 'json'
                        });
                    }
                    $('.ui.modal').modal('hide');
                })
        });
    </script>

    <form>
        <div class="ui input">
             <input name="forward_pe" type="text" placeholder="P/E ratio" value="{{ forward_pe or '' }}">
        </div>

        <div class="ui input">
             <input name="dividend_yield" type="text" placeholder="Dividend Yield" value="{{ dividend_yield or '' }}">
        </div>

        <div class="ui checkbox">
            {% if ma50 %}
                <input type="checkbox" name="ma50" checked="checked">
                <label>Above 50 Day Ma</label>
            {% else %}
                <input type="checkbox" name="ma50">
                <label>Above 50 Day Ma</label>
            {% endif %}
        </div>

        <div class="ui checkbox">
            {% if ma200 %}
                <input type="checkbox" name="ma200" checked="checked">
                <label>Above 200 day Ma</label>
            {% else %}
                <input type="checkbox" name="ma200">
                <label>Above 200 day Ma</label>
            {% endif %}
        </div>
        <button type="submit" class="ui button primary">Filter</button>
    </form>

    <div>
        <button id="add-symbols" class="ui button">Add stocks</button>
    </div>

    <table class="ui celled table">
      <thead>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Forward P/E</th>
            <th>Forward EPS</th>
            <th>Dividend Yield</th>
            <th>50 day</th>
            <th>200 day</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
            <tr>
              <td>{{ stock.symbol }}</td>
              <td>{{ stock.price }}</td>
              <td>{{ stock.forward_pe }}</td>
              <td>{{ stock.forward_eps }}</td>
              <td>{{ stock.dividend_yield }}</td>
              <td>{{ stock.ma50 }}</td>
              <td>{{ stock.ma200 }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>


    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Add Stocks
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <label>Symbols</label>
            <textarea id="symbols"></textarea>
          </div>
        </div>
      </div>
      <div class="actions">
        <div id="save" class="ui positive right labeled icon button">
          Add symbols
          <i class="plus icon"></i>
        </div>
      </div>
    </div>
{% endblock %}